{{ define "style" }}
    <link rel="stylesheet" href="/auth/static/css/reg_page.css">
{{ end }}
{{ define "content" }}
    <div id="form_auth">
        <table class="table table-dark table-striped">
            <tr>
                <td>Имя : </td>
                <td><input type="text" id="name" placeholder="Имя"></td>
            </tr>
            <tr>
                <td>Ффмилия : </td>
                <td><input type="text" id="surname" placeholder="Ффмилия"></td>
            </tr>
            
        </table>
    </div>
{{ end }}
{{ define "script" }}
    <script src="/auth/static/js/reg_page.js"></script>
{{ end }}