{{ define "style" }}
    <link rel="stylesheet" href="/auth/static/css/reg_page.css">
{{ end }}
{{ define "content" }}

    <h3>Зарегистроваться на нашем сайте</h3>
    <br>
    <form id="form_auth">
        <table class="table table-dark table-striped">
            <tr>
                <td class="align-bottom">
                    <div class="input-group">
                        <p id="name_label">Имя : </p>
                        <div id="name_result"></div>
                    </div>
                </td>
                <td>
                    <div class="msg_err" id="name_err"></div>
                    <input type="text" class="form-control" id="name" placeholder="Имя">
                </td>
            </tr>
            <tr>
                <td class="align-bottom">
                    <p id="surname_label">Фамилия : </p>
                </td>
                <td>
                    <div class="msg_err" id="surname_err"></div>
                    <input type="text" class="form-control" id="surname" placeholder="Фамилия">
                </td>
            </tr>
            <tr>
                <td class="align-bottom">
                    <p id="birthday_label">Дата рождения : </p>
                </td>
                <td>
                    <div class="msg_err" id="birthday_err"></div>
                    <input type="date" class="form-control" id="birthday" placeholder="Дата рождения">
                </td>
            </tr>
            <tr>
                <td class="align-bottom">
                    <p id="email_label">Почта : </p>
                </td>
                <td>
                    <div class="msg_err" id="email_err"></div>
                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                </td>
            </tr>
            <tr>
                <td class="align-bottom">
                    <p id="phone_label">Номер телефона : </p>
                </td>
                <td>
                    <div class="msg_err" id="phone_err"></div>
                    <input type="text" class="form-control" id="phone" placeholder="Номер телефона">
                </td>
            </tr>
            <tr>
                <td class="align-bottom">
                    <p id="login_label">Логин : </p>
                </td>
                <td>
                    <div class="msg_err" id="login_err"></div>
                    <input type="text" class="form-control" id="login" placeholder="Логин">
                </td>
            </tr>
            <tr>
                <td class="align-bottom">
                    <p id="password1_label">Пароль : </p>
                </td>
                <td>
                    <div class="msg_err" id="password1_err"></div>
                    
                    <div class="input-group">
                        <input type="password" class="form-control" id="password1" placeholder="Пароль">
                        <input type="checkbox" class="btn-check" id="btn-check-password1" autocomplete="off">
                        <label class="btn btn-outline-primary" id="togglePassword1" for="btn-check-password1"></label>

                    </div>
                </td>
            </tr>
            <tr>
                <td class="align-bottom">
                    <p id="password2_label">Повторите пароль : </p>
                </td>
                <td>
                    <div class="msg_err" id="password2_err"></div>
                    <div class="input-group">
                        <input type="password" class="form-control" id="password2" placeholder="Пароль">
                        <input type="checkbox" class="btn-check" id="btn-check-password2" autocomplete="off">
                        <label class="btn btn-outline-primary" id="togglePassword2" for="btn-check-password2"></label>
                    </div>
                </td>
            </tr>

            <tr>
                <td class="align-bottom">
                    <p id="password2_label">код отправленный на почту</p>
                </td>
                <td>
                    <div class="msg_err" id="email_code_err"></div>
                    <input type="text" class="form-control" id="email_code" placeholder="Введите код">
                </td>
            </tr>
            <tr>
                <td class="align-bottom">
                    <img src="data:image/png;base64,{{.Buf}}" alt="Blank" class="bg-white"/>
                </td>
                <td>
                    <div class="msg_err" id="сaptcha_err"></div>
                    <input type="text" class="form-control" id="сaptcha" placeholder="Введите результат">
                </td>
            </tr>
            <tr>
                <td class="align-bottom">
                    <button type="button" class="btn btn-outline-primary" id="btn_check_reg">Проверить</button>
                </td>
                <td></td>
            </tr>
            <tr>
                <td class="align-bottom">
                    <button type="button" class="btn btn-outline-primary" id="btn_submit_reg">Отправить</button>
                </td>
                <td></td>
            </tr>
        </table>
    </form>
{{ end }}
{{ define "script" }}
    <script src="/auth/static/js/reg_page.js"></script>
{{ end }}
