<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{.Title}}</title>
    <link href="/base/static/css/bootstrap.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    {{template "style" .}}
    {{template "header_style".}}
    {{template "footer_style".}}
</head>
<body>
    {{template "header" .}}
    {{template "content" .}}
    {{template "footer" .}}

    <script src="/base/static/js/bootstrap.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {{template "header_script" .}}
    {{template "footer_script" .}}
    {{template "script" .}}
</body>
</html>